{{ template "templates/header-invisible.html" . }}

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            <form id="demo-form" action="/post" method="post">
                <input type="hidden" name="invisible" value="1">
                <fieldset>
                    <legend>Login form</legend>
                    <div class="input-group fluid">
                        <label for="username" style="width: 80px;">Username</label>
                        <input type="text" value="" name="username" id="username" placeholder="username">
                    </div>
                    <div class="input-group fluid">
                        <label for="password" style="width: 80px;">Password</label>
                        <input type="password" value="" name="password" id="password" placeholder="password">
                    </div>
                    <div class="input-group fluid">
                        <button class="g-recaptcha primary" data-sitekey="6LfaISAUAAAAAHUP5XdiDoox0rJp_jKlYOdAUqzv" data-callback='onSubmit' data-badge="inline">Login</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>

</div>

{{ template "templates/footer.html" . }}
